<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Gulab Jamun Recipe</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- This is embedded stylesheet. -->
    <!-- adding fonts to website to make it more attractive. Use google fonts bt referencing the css on the Google Fonts APIs CDN-->
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower|Roboto" rel="stylesheet"/>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
    <meta name="viewport" content="width=device=width, initial-scale=1"/>
    <link rel="stylesheet" href="css/injera.css"/>
</head>
<body class="bg2">
<!-- collapsable navbar begin -->
<div th:replace="base :: navlinks('gulabjamun')"></div>

<!-- collapsable navbar end -->


<!-- adding the header1-->
<div class="container indieflower">
    <div class="col-md-12">
        <h1 class="gjh1 indieflower bgcolor">Gulab Jamun</h1>
    </div>
</div>

<div class="container indieflower">
    <div class="row">
        <div class="col-md-6">
            <h3 class="country">India</h3>
        </div>
        <div class="col-md-6">
            <img class="flagimage" src="https://upload.wikimedia.org/wikipedia/en/thumb/4/41/Flag_of_India.svg/255px-Flag_of_India.svg.png"
                 alt="indian flag"/>
        </div>
    </div>
</div>

<div class="container indieflower">
    <div class="col-md-6">
            <img class="standardimage img-circle img-responsive"
                 src="https://upload.wikimedia.org/wikipedia/commons/c/c1/Gulab-jamun-wallpaper-1.jpg"
                 alt="Gulab Jamun"/>

        <div class="largefont bgcolor">
            <h2 class="xlargefont">Ingredients</h2>
            <ul>
                <li>1 cup dry milk powder</li>
                <li>3 tablespoons all-purpose flour</li>
                <li>2 tablespoons ghee (clarified butter), melted</li>
                <li>1/2 teaspoon baking powder</li>
                <li>1/2 cup warm milk</li>
                <li>1 tablespoon chopped almonds (optional)</li>
                <li>1 tablespoon chopped pistachio nuts (optional)</li>
                <li>1 tablespoon golden raisins (optional)</li>
                <li>1 pinch ground cardamom</li>
                <li>1 quart vegetable oil for deep frying</li>
                <li>1 1/4 cups white sugar</li>
                <li>7 fluid ounces water</li>
                <li>1 teaspoon rose water</li>
                <li>1 pinch ground cardamom</li>
            </ul>
        </div>
    </div>
    <div class="col-md-6">
        <div class="largefont bgcolor">
            <h2 class="xlargefont">Directions:</h2>
            <p>SIn a large bowl, stir together the milk powder, flour, baking powder, and cardamom. Stir in the almonds,
                pistachios and golden raisins. Mix in the melted ghee, then pour in the milk, and continue to mix until
                well blended. Cover and let rest for 20 minutes.</p>
            <p>In a large skillet, stir together the sugar, water, rose water and a pinch of cardamom. Bring to a boil,
                and simmer for just a minute. Set aside.</p>
            <p>Fill a large heavy skillet halfway with oil. Heat over medium heat for at least 5 minutes. Knead the
                dough, and form into about 20 small balls. Reduce the heat of the oil to low, and fry the balls in one
                or two batches. After about 5 minutes, they will start to float, and expand to twice their original
                size, but the color will not change much. After the jamun float, increase the heat to medium, and turn
                them frequently until light golden. Remove from the oil to paper towels using a slotted spoon, and allow
                to cool. Drain on paper towels and allow to cool slightly.</p>
            <p>Place the balls into the skillet with the syrup. Simmer over medium heat for about 5 minutes, squeezing
                them gently to soak up the syrup. Serve immediately, or chill.</p>
        </div>
    </div>
</div>

<!-- Latest compiled and minified JavaScript form jquery and the bootstrap-->
<script
        src="http://code.jquery.com/jquery-3.2.1.js"
        integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
</body>
</html>