<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Injera Recipe</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- This is embedded stylesheet. -->
    <!-- adding fonts to website to make it more attractive. Use google fonts bt referencing the css on the Google Fonts APIs CDN-->
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower|Roboto" rel="stylesheet">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <meta name="viewport" content="width=device=width, initial-scale=1">
    <link rel="stylesheet" href="css/injera.css">
</head>
<body class="bg">
<!-- collapsable navbar begin -->
<nav class="navbar navbar-default roboto">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="recipebook.html">Recipe Book</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="recipebook.html">home</a></li>
                <li><a href="recipelist.html">Recipes List</a></li>
                <li ><a href="recipebookmenu.html">Menu</a></li>
                <li><a href="crabbypage.html">Crabcake</a></li>
                <li><a href="wings.html">Wings</a></li>
                <li><a href="makhrouds.html">Makhrouds</a></li>
                <li><a href="eggsauce.html">Egg sauce</a></li>
                <li class="active"><a href="injera.html">Injera<span class="sr-only">(current)</span></a></li>
                <li><a href="gulabjamun.html">Gulab Jamun</a></li>
                <li role="separator" class="divider"></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<!-- collapsable navbar end -->
<!-- addung the header1-->
<div class="container  indieflower">
    <div class="col-md-12">
        <h1 class="indieflower">Injera Recipe</h1>
    </div>
</div>
<div class="container indieflower">
    <div class="row">
        <div class="col-md-6">
            <h3 class="country">Ethiopia</h3>
        </div>
        <div class="col-md-6">
            <img class="flagimage" src="https://flagspot.net/images/e/et.gif" alt="ethiopian flag"/>
        </div>
    </div>
</div>

<div class="container indieflower">
    <div class="col-md-6">
        <img class="standardimage img-circle img-responsive"
             src="https://c1.staticflickr.com/3/2498/3729721989_fdb34bc030_z.jpg?zz=1"
             alt="this is an injera image"/>
    </div>
    <div class="col-md-6">
        <div class="largefont">
            <h2 class="xlargefont">Ingredients</h2>
            <ul>
                <li>Ingredients</li>
                <li>¾ cup teff flour (found in health food shops)</li>
                <li>3½ cups water</li>
                <li>pinch of salt</li>
            </ul>
        </div>
        <div class="largefont">
            <h2 class="xlargefont">Directions:</h2>
            <p>Standing time 2 days</p>
            <p>Mix teff with the water. Leave to stand in a covered bowl for a couple of days until it starts to
                bubble.</p>
            <p>The mixture should be slightly sour and the consistency of crêpe batter. Stir in the salt.</p>
            <p>Add a ladle of the mixture to a pre-heated skillet and cook slowly until air bubbles rise to the top.</p>
            <p>Do not let it brown, and make sure that it is not too thick.</p>
        </div>
    </div>
</div>


<!-- Latest compiled and minified JavaScript form jquery and the bootstrap-->
<script
        src="http://code.jquery.com/jquery-3.2.1.js"
        integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
</body>
</html>