<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Makhrouds Recipe</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Merriweather|Roboto" rel="stylesheet">
    <link rel="stylesheet" href="css/makhroudsstyle.css">

</head>
<body class="merriweather">
<!-- collapsable navbar begin -->
<nav class="navbar navbar-default roboto top-bar fixed">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="recipebook.html">Recipe Book</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li ><a href="recipebook.html">home</a></li>
                <li ><a href="recipelist.html">Recipes List</a></li>
                <li><a href="crabbypage.html">Crabcake</a></li>
                <li><a href="wings.html">Wings</a></li>
                <li class="active"><a href="makhrouds.html">Makhrouds<span class="sr-only">(current)</span></a></li>
                <li><a href="eggsauce.html">Egg sauce</a></li>
                <li><a href="injera.html">Injera</a></li>
                <li><a href="gulabjamun.html">Gulab Jamun</a></li>
                <li role="separator" class="divider"></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<!-- collapsable navbar end -->
<div class="container">
    <div class="row">
        <div class="col-xs-11 well well1">
            <h1 class="heading1">Makhrouds</h1>
        </div>
        <div class="col-xs-1">
            <img class="flagimage well2" src="https://flagspot.net/images/t/tn.gif" alt="tunisian flag"/> <p>Tunisia</p>
        </div>
    </div>
</div>
<div class="container">
    <div class="col-md-3">
        <h2> Ingredients</h2>
        <ul>
            <li>Sugar 500 g</li>
            <li> Lemon juice 1/2 lemon</li>
            <li> Semolina 500 g</li>
            <li>Flour 250 g</li>
            <li>Butter 125 g, salted</li>
            <li>Olive oil 100 ml, and oil for deep frying</li>
            <li>Date paste 250 g</li>
        </ul>
    </div>
    <div class="col-md-9">
        <img class="standardimage" src="https://upload.wikimedia.org/wikipedia/commons/7/7f/Makrouds.JPG"
             alt="makhrouds"></img>
    </div>
</div>
<div class="container">
    <div class="col-md-12">
        <h2>Directions</h2>
        <div class="row">
            <p>Put the sugar in a pan with the lemon juice and 250 ml of water.

                Bring to the boil and simmer over a low heat for around 10 minutes until thick and syrupy. Remove from
                the heat.</p>

            <p>In a bowl, mix together the semolina and flour.

                Melt the butter and add to the dry ingredients, together with the oil.</p>

            <p>Mix together until homogeneous. Add a little more oil if necessary.

                Stir in boiling water, a tablespoonful at a time, until you have a smooth dough.</p>

            <p>Shape the dough into strands 3-4 cm thick and make a depression along the centre.

                Spoon the date paste into the depression and wrap the dough around it so that it encloses the paste.</p>

            <p>Flatten slightly and score in a diamond pattern.

                Cut into approx. 4 cm lengths and fry in the hot oil until crispy.</p>

            <p>Drain briefly on kitchen paper and transfer to the sugar syrup.

                Take out of the syrup to serve, and arrange in small cake cases, for example. </p>
        </div>
    </div>
</div>

<div class="container">
    <div class="well well1 well-sm col-md-2 ">
        <p class="heading2">Serves 8</p>
    </div>
</div>
<!-- Latest compiled and minified JavaScript form jquery and the bootstrap-->
<script
        src="http://code.jquery.com/jquery-3.2.1.js"
        integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
</body>
</html>