<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Recipe Book</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- This is embedded stylesheet. -->
    <!-- adding fonts to website to make it more attractive. Use google fonts bt referencing the css on the Google Fonts APIs CDN-->
    <link href="https://fonts.googleapis.com/css?family=Rozha+One|Roboto" rel="stylesheet">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <meta name ="viewport" content ="width=device=width, initial-scale=1">
    <link rel="stylesheet"  href="css/firstpage.css">
</head>
<body>
<div class="bg">

    <!-- collapsable navbar begin -->
    <nav class="navbar navbar-default roboto">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="recipebook.html">Recipe Book</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class= "active"><a href="recipebook.html">home<span class="sr-only">(current)</span></a></li>
                    <li ><a href="recipelist.html">Recipes List</a></li>
                    <li ><a href="recipebookmenu.html">Menu</a></li>
                    <li ><a href="crabbypage.html">Crabcake</a></li>
                    <li><a href="wings.html">Wings</a></li>
                    <li><a href="makhrouds.html">makhrouds</a></li>
                    <li><a href="injera.html">Injera</a></li>
                    <li><a href="eggsauce.html">Egg sauce</a></li>
                    <li><a href="gulabjamun.html">Gulab Jamun</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <!-- collapsable navbar end -->

<div class="container">
    <div class="col-md-12">
        <h1 class="rozhaone mainheading" >My Recipe book</h1>
    </div>
</div>
</div>
<!-- Latest compiled and minified JavaScript form jquery and the bootstrap-->
<script
        src="http://code.jquery.com/jquery-3.2.1.js"
        integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>

</body>
</html>