<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Menu</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- This is embedded stylesheet. -->
    <!-- adding fonts to website to make it more attractive. Use google fonts bt referencing the css on the Google Fonts APIs CDN-->
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower|Roboto" rel="stylesheet"/>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
    <meta name="viewport" content="width=device=width, initial-scale=1"/>
    <link rel="stylesheet" href="css/injera.css"/>
</head>
<body class="menubg">
<!-- collapsable navbar begin -->
<div th:replace="base :: navlinks('menu')"></div>

<!-- collapsable navbar end -->
<!-- begin Menu title-->
<div class="container">
    <div class="col-md-12">
        <h1 class="menu_title">Menu</h1>
    </div>
</div>
<!-- end Menu title-->
<!-- begin menu list-->
<div class="container">
    <div class="col-md-12">
        <ul class="ul_menu">
            <li class="li_menu">
                <!-- list item container-->
                <div class="container">
                    <div class="row">
                        <!--image container-->
                        <div class="col-md-3">
                            <a href="crabbypage.html">
                                <div>
                                    <img class="menu_image"
                                         src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSk94XdElNxfn5o6_zJLm3ZezmtqJYeuS5BvSwPk_iab3nxKJ3l0w"
                                         alt="crabcake"/>
                                </div>
                            </a>
                        </div>
                        <!--description container-->
                        <div class="col-md-6">
                            <a class="a_menu" href="crabbypage.html">
                            <div>
                                <p>Crabcake: Crab meat with some local flavor served with a nice sauce (1 Crabcake).</p>
                            </div>
                            </a>
                        </div>

                        <!--price container-->
                        <div class="col-md-3">
                            <div class="price">
                                <p>$12.00</p>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="li_menu">
                <!-- list item container-->
                <div class="container">
                    <div class="row">
                        <!--image container-->
                        <div class="col-md-3">
                            <a  href="wings.html">
                                <div>
                                    <img class="menu_image"
                                         src="https://upload.wikimedia.org/wikipedia/commons/9/91/Crispy_Chicken_Wings.png"
                                         alt="wings"/>
                                </div>
                            </a>
                        </div>
                        <!--description container-->
                        <div class="col-md-6">
                            <a class="a_menu" href="wings.html">
                            <div>
                                <p>Wings: Chicken wings marinated in a spicy chinese sauce and cooked to
                                    perfection (6 wings).</p>
                            </div>
                            </a>
                        </div>
                        <!--price container-->
                        <div class="col-md-3">
                            <div class="price">
                                <p>$8.00</p>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="li_menu">
                <!-- list item container-->
                <div class="container">
                    <div class="row">
                        <!--image container-->
                        <div class="col-md-3">
                            <a href="makhrouds.html">
                                <div>
                                    <img class="menu_image"
                                         src="https://upload.wikimedia.org/wikipedia/commons/7/7f/Makrouds.JPG"
                                         alt="makhrouds"/>
                                </div>
                            </a>
                        </div>
                        <!--description container-->
                        <div class="col-md-6">
                            <a class="a_menu" href="makhrouds.html">
                            <div>
                                <p>Makhrouds: Sweet fried dough staffed with dates and honey coated (4 Makhroud pieces)</p>
                            </div>
                            </a>
                        </div>
                        <!--price container-->
                        <div class="col-md-3">
                            <div class="price">
                                <p>$6.00</p>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="li_menu">
            <!-- list item container-->
                <div class="container">
                    <div class="row">
                        <!--image container-->
                        <div class="col-md-3">
                            <a href="eggsauce.html">
                                <div>
                                    <img class="menu_image"
                                         src="https://thedepanneur.ca/wp-content/uploads/2016/08/jazmaz-550x321.jpg"
                                         alt="egg sauce"/>
                                </div>
                            </a>
                        </div>
                        <!--description container-->
                        <div class="col-md-6">
                            <a class="a_menu" href="eggsauce.html">
                            <div>
                                <p>Egg sauce: 3 Eggs cooked in a spicy pepper sauce with african spices.</p>
                            </div>
                            </a>
                        </div>
                        <!--price container-->
                        <div class="col-md-3">
                            <div class="price">
                                <p>$10.00</p>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="li_menu">
                <!-- list item container-->
                <div class="container">
                    <div class="row">
                        <!--image container-->
                        <div class="col-md-3">
                            <a href="injera.html">
                                <div>
                                    <img class="menu_image"
                                         src="https://c1.staticflickr.com/3/2498/3729721989_fdb34bc030_z.jpg?zz=1"
                                         alt="injera"/>
                                </div>
                            </a>
                        </div>
                        <!--description container-->
                        <div class="col-md-6">
                            <a class="a_menu" href="injera.html">
                            <div>
                                <p>Injera: Ethiopian flat bread made with tiff flower (2 Injera bread)</p>
                            </div>
                            </a>
                        </div>
                        <!--price container-->
                        <div class="col-md-3">
                            <div class="price">
                                <p>$4.00</p>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="li_menu">
                <!-- list item container-->
                <div class="container">
                    <div class="row">
                        <!--image container-->
                        <div class="col-md-3">
                            <a href="gulabjamun.html">
                                <div>
                                    <img class="menu_image"
                                         src="https://upload.wikimedia.org/wikipedia/commons/c/c1/Gulab-jamun-wallpaper-1.jpg"
                                         alt="gulab jamun"/>
                                </div>
                            </a>
                        </div>
                        <!--description container-->
                        <div class="col-md-6">
                            <a class="a_menu" href="gulabjamun.html">
                            <div>
                                <p>Gulab Jamun: Indian fried dough served in its own home made syrup. (3 Gulab Jamun pieces)</p>
                            </div>
                            </a>
                        </div>
                        <!--price container-->
                        <div class="col-md-3">
                            <div class="price">
                                <p>$5.00</p>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
<!-- end menu list-->

<!-- Latest compiled and minified JavaScript form jquery and the bootstrap-->
<script
        src="http://code.jquery.com/jquery-3.2.1.js"
        integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
</body>
</html>