<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Wigs Recipe</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- This is embedded stylesheet. -->
    <!-- adding fonts to website to make it more attractive. Use google fonts bt referencing the css on the Google Fonts APIs CDN-->
    <link href="https://fonts.googleapis.com/css?family=Oswald|Roboto" rel="stylesheet"/>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
    <meta name="viewport" content="width=device=width, initial-scale=1"/>
    <link rel="stylesheet" href="css/wingstyle.css"/>
</head>
<body>
<!-- collapsable navbar begin -->
<div th:replace="base :: navlinks('wings')"></div>

<!-- collapsable navbar end -->
<div class="container">
    <div class="col-md-2">
    </div>
    <div class="ccol-md-8">
<div class="container oswald">
        <div class="col-md-12">
            <h1>Wings Recipe </h1>
        </div>
</div>

<div class="container oswald">
    <div class="row">
        <div class="col-md-1">
            <h3 class="country">China</h3>
        </div>
        <div class="col-md-9">
            <img class="flagimage"
                 src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/fa/Flag_of_the_People%27s_Republic_of_China.svg/255px-Flag_of_the_People%27s_Republic_of_China.svg.png"
                 alt="china's falg"/>
        </div>
    </div>
</div>

<div class="container">
    <div class="col-md-12">
        <img class="standardimage img-thumbnail"
             src="https://upload.wikimedia.org/wikipedia/commons/9/91/Crispy_Chicken_Wings.png"
             alt="wings"/>
    </div>
</div>

<div class="container oswald">
   <div class="col-md-3">
        <h2>Ingredients</h2>
        <ul>
            <li>800g chicken wings</li>
            <li>1 tbsp baking powder</li>
            <li>Baking powder</li>
            <li>1½ tsp Sichuan peppercorns</li>
            <li>1½ tsp chilli flakes</li>
            <li>3 tbsp Shaoxing wine</li>
            <li>1½ tbsp garlic and ginger paste</li>
            <li>3 tbsp dark soy sauce</li>
            <li>Soy sauce</li>
            <li>3 tbsp light soy sauce</li>
            <li>1½ tsp sesame oil</li>
            <li>3 tbsp palm sugar</li>
        </ul>
        <p> to serve</p>
        <ul>
            <li>chopped peanuts</li>
            <li>chilli flakes</li>
        </ul>
    </div>
    <div class="col-md-9">
        <h2>Directions:</h2>
        <p>Heat oven to 160C/140C fan/gas 3.</p>

        <p>Toss the chicken in 1 tsp salt and the baking powder – this is the secret to getting crispy skin! Put the
            wings on a wire rack set over an oven tray. Bake for 30 mins, turning halfway, then turn the heat up to
            220C/200C fan/gas 7 and cook for 20 mins more.</p>

        <p>Meanwhile, toast the peppercorns and chilli flakes until fragrant, about 2 mins, then grind using a pestle
            and mortar. Tip into a saucepan, then add the rest of the ingredients apart from the chopped peanuts and
            chilli flakes. Whisk to combine, then cook over a medium heat for 8-10 mins until thickened and bubbling.
            Set aside.</p>

        <p>Take the chicken off the rack and tip onto the tray, then coat in the glaze. Return to the oven for 5 mins
            until bubbling and sticky. Serve the chicken scattered with the peanuts and chilli flakes.</p>
    </div>
</div>
</div>
    <div class="col-md-2">
    </div>
</div>
<!-- Latest compiled and minified JavaScript form jquery and the bootstrap-->
<script
        src="http://code.jquery.com/jquery-3.2.1.js"
        integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
</body>
</html>