.indieflower {
    font-family: 'Indie Flower', cursive;
    font-weight: bold;
}

h1 {
    text-align: center;
    color: black;
    font-size: 100px;
    font-weight: bold;

}

.gjh1{
    text-align: center;
    color: green;
    font-size: 100px;
    font-weight: bold;

}

.largefont {
    font-size: 20px;
    font-style: oblique;

}

.xlargefont {
    font-size: 40px;

}

.standardimage {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

.listimage
{
    width: 100%;
    height: 310px;
    position:relative;
    display:inline-block;
    overflow:hidden;
}

.listim{
    position:absolute;
    top:50%;
    min-height:100%;
    display:block;
    left:50%;
    -webkit-transform: translate(-50%, -50%);
    min-width:100%;
}
.thumbg{
    background-color: mistyrose;
}

.rclistbg{
    background-image: linear-gradient(to right, #f83600 0%, #f9d423 100%);;

}

.bg {
    /*background-image: url("http://images.webestools.com/postIts/img_1.png");*/
    background-image: linear-gradient(to right, #f83600 0%, #f9d423 100%);;

    /* Full height
    height: 100%; */

    /* Center and scale the image nicely */
    background-position: center;
    /*background-repeat: no-repeat;*/
    background-size: cover;
}
.bg2
{
    background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
}

.bgcolor {
    border-radius: 25px;
    /*padding: 20px;*/
    margin: 4%;
    background-color: antiquewhite;
    opacity: 0.7;
    border:3px solid green;

}

.flagimage
{
    height:60px;
    width: 100px;
    display: block;
    /*margin-left: auto;*/
    float: left;
    border: black 3px solid ;

    /*margin-right: auto*/
}

.roboto
{
    font-family: 'Roboto', sans-serif;
    color: indianred;
}

.navbar-default {
    background-color: antiquewhite;
    border-color: #E7E7E7;
}

.country
{
    float: right;
}
